/* App.css */
.app-container {
  text-align: center;
  margin-top: 50px;
}

.app-heading {
  font-size: 24px;
}

.app-subheading {
  font-size: 18px;
}

.date-picker-container {
  margin-top: 20px;
}

.calendar-container {
  margin-top: 10px;
}

.birthdate-display {
  font-size: 18px;
  margin-top: 10px;
}

.age-calculator-container {
  margin-top: 20px;
}

.age-display {
  font-size: 18px;
  margin-top: 10px;
}
